/* Desktop View */

@media (min-width: 576px) {
	.contenedorVPC {
		border: 1px solid black;
		box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

		border-radius: 16px;

		width: 474px;
		height: 140px;

		display: flex;
		
		//margin-bottom: 30px;
		
		.contenedorImagen{
		  position: relative;
		  margin-top: 16px;
		  margin-left: 17px;
		  margin-bottom: 17px;
		  height: 107px;
		}

		img {
			border-top-left-radius: 16px;
			border-top-right-radius: 16px;

			width: 132px;
			height: auto;
		}

		.postexto {
			position: absolute;

			//opcional: centro del centro
			/* top: 50%;
			left: 50%;
			transform: translate(-50%, -50%); */

			bottom: 0;
			left: 0;

			background: #4e60ff;
			border-radius: 0 10px;
			margin: 0;
			width: 89px;
			height: 26px;
			
			display: flex;
      align-items: center;
      justify-content: center;
		}

		.contenedorTexto {
			margin: 16px 31px 17px 17px;
		}

		@mixin texto($f-weight, $f-size, $l-height, $color) {
			font-family: "Nunito";
			font-style: normal;
			font-weight: $f-weight;
			font-size: $f-size;
			line-height: $l-height;
			color: $color;
		}
		
		p{
		  @include texto(400, 8px, 9px, #83859c);
		  margin: 0;
		  margin-top: 6px;
		}

		h1 {
			@include texto(700, 15px, 20px, #2b2b43);

			margin: 0;
		}

		h2 {
			@include texto(600, 8px, 16px, #83859c);

			margin: 0;
			display: flex;
			align-items: center
		}

		h3 {
			@include texto(700, 12px, 16px, #ffffff);

			margin: 0;
		}

		h4 {
			@include texto(600, 8px, 16px, #545563);
			margin: 0;
			
			margin-right: 10px;
			margin-top: 2px;
			margin-bottom: 2px;
		}
		
		h5 {
			@include texto(400, 6px, 7px, #3c444c);
			margin: 0;
		}
		
		h6 {
			@include texto(800, 14px, 27px, #2b2b43);
			margin: 0;
		}

		.flex1 {
			display: flex;
			justify-content: space-between;
		}

		.flex2 {
			display: flex;
			justify-content: start;
			align-items: center;
		}

		.flex3 {
			display: flex;
			justify-content: start;

			background-color: #edeef2;
			border-radius: 100px;

			margin-right: 8px;
		}
		
		.flex4 {
			display: flex;
			justify-content: end;
		}

		.iconclock {
			width: 12px;
			height: auto;
		}
		
		.icondown{
		  width: 11px;
		  height: 14px;
		}

    //Burger and pizza
		.icon {
			width: 12px;
			height: auto;

			margin-left: 10px;
			margin-right: 8px;
		}
		
		//Plus and Minus
		.iconpm{
		  width: 27px;
		  //height: 22px;
		}
		
		.textopm{
		  margin: 0 14px;
		}
		
		.contenedorPM{
		  margin-top: 5px;
		}

		.hidden {
			display: none;
		}
	}
}