/* Desktop View */

@media (min-width: 576px) {
  .contenedorVPSV {
    //border: 1px solid #edeef2;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-color: white;
    border-radius: 16px;
    margin: 1rem;
    width: 320px;
    height: auto;
    position: relative;
    display: inline-block;
    cursor: pointer;

    &:hover {
      transform: scale(1.02);
      transition: all 0.2s ease-in-out;
      cursor: pointer;
      box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    }

    img {
      border-top-left-radius: 16px;
      border-top-right-radius: 16px;

      width: 320px;
    }

    .postexto {
      position: absolute;

      //opcional: centro del centro
      /* top: 50%;
			left: 50%;
			transform: translate(-50%, -50%); */

      top: 0;
      right: 0;

      background: #4e60ff;
      border-radius: 0 16px;
      margin: 0;
      padding: 8px 16px;
    }

    .contenedorTexto {
      margin: 1rem;
    }

    @mixin texto($f-weight, $f-size, $l-height, $color) {
      font-family: "Nunito";
      font-style: normal;
      font-weight: $f-weight;
      font-size: $f-size;
      line-height: $l-height;
      color: $color;
    }

    h1 {
      @include texto(700, 18px, 24px, #2b2b43);
    }

    h2 {
      @include texto(600, 12px, 16px, #83859c);

      margin: 0;
      margin-top: 6px;
      margin-right: 8px;
    }

    h3 {
      @include texto(600, 12px, 16px, #545563);

      margin: 0;
      margin-right: 10px;
      margin-top: 4px;
      margin-bottom: 4px;
    }

    h4 {
      @include texto(700, 11px, 16px, #ffffff);
    }

    .flex1 {
      display: flex;
      justify-content: space-between;
    }

    .flex2 {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .flex3 {
      display: flex;
      justify-content: start;
      background-color: #edeef2;
      border-radius: 100px;
    }

    .iconinfo {
      width: 20px;
      height: 20px;
    }

    .iconheart {
      margin-top: 16px;
      margin-right: 10px;
      width: 24px;
      height: 21px;
      cursor: pointer;
    }

    .iconbag {
      margin-top: 16px;
      width: 20px;
      height: 19px;
      cursor: pointer;
    }

    .iconclock {
      margin-top: 4px;
      margin-right: 6px;
      width: 12px;
      height: auto;
    }

    .icon {
      width: 12px;
      height: 12px;
      margin-left: 10px;
      margin-right: 8px;
      margin-top: auto;
      margin-bottom: auto;
    }

    .hidden {
      display: none;
    }
  }
}
