/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

/* Desktop View */

.flex-VPHL {
  width: -webkit-fill-available;
}

.flex22 {
  display: flex;
  flex-direction: column;
}
.flex22 h3 {
  font-size: medium;
}
.flex22 h4 {
  font-size: x-large;
}

@media (min-width: 576px) {
  .contenedorVPHL {
    border: 1px solid black;
    -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 16px;
/*     width: 474px;
    height: 140px; */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 15px;
  }

  .contenedorVPHL .contenedorTextoVPHL {
    display: flex;
    gap: 1rem;
    padding: 1rem 2rem;
    align-items: center;
    justify-content: space-between;
  }
  .contenedorVPHL .equis {
    font-family: "Nunito";
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    color: #737373;
    font-family: "Montserrat";
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
    margin: 0;
    margin-top: 7px;
    margin-right: 8px;
    height: 12px;
    cursor: pointer;
  }
  .contenedorVPHL p {
    font-family: "Nunito";
    font-style: normal;
    font-weight: 400;
    font-size: 8px;
    line-height: 9px;
    color: #83859c;
    margin: 0;
    margin-top: 6px;
  }

  .contenedorVPHL .flex1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .contenedorVPHL .flex2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media (max-width: 575px) {
  .contenedorVPHL {
    border: 1px solid black;
    -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 16px;
/*     width: 358px;
    height: 140px; */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 12px;
  }
  .contenedorVPHL .contenedorTextoVPHL {
    display: flex;
    gap: 1rem;
    padding: 1rem 2rem;
    align-items: center;
    justify-content: space-between;
  }
  .contenedorVPHL .equis {
    font-family: "Nunito";
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    color: #737373;
    font-family: "Montserrat";
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
    margin: 0;
    margin-top: 7px;
    margin-right: 8px;
    height: 12px;
    cursor: pointer;
  }
  
  .contenedorVPHL .flex1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .contenedorVPHL .flex2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

}

/* Desktop View */

@media (min-width: 576px) {
	.flex0 {
		display: inline-block;
		//justify-content: space-between;
		//flex-wrap: wrap;

		overflow-y: scroll;
		height: 500px;
		width: 500px;
	}
}

/* Mobile View */

@media (max-width: 575px) {
	.flex0 {
		display: inline-block;
		//justify-content: space-between;
		//flex-wrap: wrap;

		overflow-y: scroll;
		height: 500px;
		width: 390px;
	}
}


