@import "~antd/dist/antd.css";

.flexBox-CG {
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
  margin: 2% 15%;
  gap: 1rem;
  justify-content: center;
  .container-A {
    width: 30%;
  }
  .container-B {
    width: 70%;
  }
}

.btnsContainer-Configuration {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  .btnLeft-CG {
    display: -ms-flex;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    gap: 1rem;
    width: 100%;
    padding: 0.7rem 1rem;
    border-radius: 20px;
    background-color: transparent;
    color: var(--secundary-text);
    border: 1px solid var(--secundary-box-lighter);
    box-shadow: var(--shadow);
    cursor: pointer;
    justify-content: center;
    label {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 25%;
      padding: 0.7rem 0;
      border-radius: 15px;
      background-color: var(--secundary-box-lighter);
    }
    aside {
      width: 75%;
    }
    h3,
    p {
      color: var(--secundary-box-dark);
      text-align: left;
      margin-bottom: 0;
    }
    .icon-React {
      font-size: x-large;
    }
    &:hover,
    &:active {
      background-color: #f2f2f2;
      color: var(--secundary-text);
      border: 2px solid var(--primary-color);
      label {
        background-color: var(--primary-color);
      }
      h3,
      p,
      aside {
        border: none;
        color: var(--secundary-box-dark);
      }
      .icon-React {
        background-color: transparent;
      }
    }
  }
}

.flex-Inputs {
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
  justify-content: space-around;
  gap: 1rem;
  border-left: 1px solid var(--secundary-box-lighter);
  border-right: 1px solid var(--secundary-box-lighter);
  border-top: 1px solid var(--secundary-box-lighter);
  padding: 2rem;
  div {
    width: 50%;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
  }
  label {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: -webkit-fill-available;
    input {
      padding: 0.7rem 1rem;
      border-radius: var(--border-rad);
      border: 1px solid var(--secundary-box-lighter);
      &:focus,
      &:active {
        outline: none;
        border: 1.8px solid var(--primary-color);
      }
    }
  }
}

.titleContainer {
  text-align: center;
}

.titleContainerLeft {
  text-align: left;
}

.subtitleContainer {
  border-radius: 1rem 1rem 0 0;
  padding: 1rem 1rem 0.7rem;
  border: 1px solid var(--secundary-box-lighter);
}

.btnsContainer {
  display: flex;
  justify-content: space-between;
  border: 1px solid var(--secundary-box-lighter);
  border-radius: 0 0 1rem 1rem;
  padding: 1rem 2rem;
  div {
    display: flex;
    gap: 1rem;
  }
}

.flex-CG--MP {
  display: flex;
  display: -ms-flex;
  display: -webkit-flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  .label-CG-MP {
    width: 40%;
  }
}

.e-btn-group {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 1rem;
  justify-content: space-between;
  img {
    width: 80px;
    height: 50px;
    border: 1px solid var(--secundary-box-dark);
    box-shadow: var(--shadow);
    border-radius: var(--border-rad);
    padding: 0.7rem;
    &:hover {
      border: 1px solid var(--primary-color);
    }
  } 
}

.e-btn {
  display: flex;
  align-items: center;
}

.flex-TP {
  display: contents !important; 
  div {
    display: flex;
    justify-content: center;
    input {
      position: absolute;
      background-color: transparent;
      color: var(--primary-color);
    }
  }
}

.tipoTarjetas {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

.btnCancelar {
  width: 100%;
  padding: 0.7rem 1rem;
  border-radius: var(--border-rad);
  background-color: transparent;
  color: var(--secundary-box-dark);
  border: 1px solid var(--secundary-box-dark);
  box-shadow: var(--shadow);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  &:hover,
  &:active {
    background-color: var(--secundary-box-dark);
    color: var(--secundary-text);
    border: 1px solid var(--secundary-box-dark);
  }
}

.btnGuardar {
  width: 100%;
  padding: 0.7rem 1rem;
  border-radius: var(--border-rad);
  background-color: var(--primary-color);
  color: var(--primary-box-lighter);
  border: transparent;
  box-shadow: var(--shadow);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  &:hover,
  &:active {
    background-color: var(--primary-box-dark);
    color: var(--secundary-text);
    border: 1px solid var(--primary-box-dark);
  }
}

.btnCerrarSesion {
  padding: 0.7rem 1rem;
  border-radius: var(--border-rad);
  background-color: transparent;
  color: var(--secundary-box-btnCancel);
  border: 1px solid var(--secundary-box-btnCancel);
  box-shadow: var(--shadow);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  &:hover,
  &:active {
    background-color: var(--secundary-box-btnCancel);
    color: var(--secundary-text);
    border: 1px solid var(--secundary-box-btnCancel);
  }
}

.btnsOptionalContainer {
  padding: 1rem;
  border-left: 1px solid var(--secundary-box-lighter);
  border-right: 1px solid var(--secundary-box-lighter);
  label {
    display: flex;
    gap: 1rem;
    width: -webkit-fill-available;
    justify-content: space-between;
  }
  div {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}

@media screen and (max-width: 1050px) {
  .flexBox-CG {
    display: flex;
    flex-direction: column;
    margin: 2% 18%;
    .container-A {
      width: 100%;
    }
    .container-B {
      width: 100%;
    }
  }

  .flex-Inputs {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-left: 1px solid var(--secundary-box-lighter);
    border-right: 1px solid var(--secundary-box-lighter);
    border-top: 1px solid var(--secundary-box-lighter);
    padding: 2rem;
    div {
      width: 100%;
      display: flex;
      gap: 1rem;
      flex-wrap: wrap;
    }
    label {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      width: -webkit-fill-available;
      input {
        padding: 0.7rem 1rem;
        border-radius: var(--border-rad);
        border: 1px solid var(--secundary-box-lighter);
      }
    }
  }

  .btnsContainer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    div {
      gap: 1rem;
      padding-top: 1rem;
      border-top: 1px solid var(--secundary-box-lighter);
    }
  }

  .btnsContainer-Configuration {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    .btnLeft-CG {
      display: -ms-flex;
      display: -webkit-flex;
      display: flex;
      align-items: center;
      gap: 1rem;
      label {
        width: 15%;
        padding: 0.7rem 0;
        border-radius: 15px;
        background-color: var(--secundary-box-lighter);
      }
      aside {
        width: 85%;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .flexBox-CG {
    display: flex;
    flex-direction: column;
    margin: 1rem 3rem;
    .container-A {
      width: 100%;
    }
    .container-B {
      width: 100%;
    }
  }

  .flex-Inputs {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-left: 1px solid var(--secundary-box-lighter);
    border-right: 1px solid var(--secundary-box-lighter);
    border-top: 1px solid var(--secundary-box-lighter);
    padding: 2rem;
    div {
      width: 100%;
      display: flex;
      gap: 1rem;
      flex-wrap: wrap;
    }
    label {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      width: -webkit-fill-available;
      input {
        padding: 0.7rem 1rem;
        border-radius: var(--border-rad);
        border: 1px solid var(--secundary-box-lighter);
      }
    }
  }

  .btnsContainer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    div {
      gap: 1rem;
      padding-top: 1rem;
      border-top: 1px solid var(--secundary-box-lighter);
    }
  }

  .btnsContainer-Configuration {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    .btnLeft-CG {
      display: -ms-flex;
      display: -webkit-flex;
      display: flex;
      align-items: center;
      gap: 1rem;
      label {
        width: 15%;
        padding: 0.7rem 0;
        border-radius: 15px;
        background-color: var(--secundary-box-lighter);
      }
      aside {
        width: 85%;
      }
    }
  }
}
