nav {
  //vars
  $primary-color: #828282;
  $secondary-color: #c9a731;
  $element-background-color: #edeef2;
  $secondary-color-dark: #ce972b;
  $primary-button-hover: #a27520;

  font-family: Nunito;
  font-weight: 700;

  display: flex;
  justify-content: space-around;
  align-items: center;
  .navHome
  {box-shadow: 0px 0px 3px 1px rgb(0 0 0 / 10%);}

  a {
    text-decoration: none;
  }

  .navbar-left {
    .productos {
      color: $primary-color;
      border-right: 1px solid silver;
      padding-right: 3vw;
    }
    a {
      margin: 0 0 0 3vw;
      color: $primary-color;
      &:hover {
        color: $secondary-color;
      }
    }
  }

  .navbar-right {
    display: flex;
    align-items: center;
    gap: 1rem;
    .form-inline {
      display: inline-block;
      input {
        box-sizing: border-box;
        padding: 0.5em 1em;
        border: none;
        border-radius: 0.5em;
        background-color: $element-background-color;
        &:focus, &:active {
            outline: none;
            border: 1.8px solid var(--primary-color);
          }
      }
      button {
        border: none;
        background-color: inherit;
        cursor: pointer;
      }
    }
    .deseos {
        display: flex;
        align-items: center;
        justify-content: center;
        color: $primary-color;
        font-size: medium;
        border-style: none;
        padding: 1rem;
        border-radius: 15px;
        &:hover {
            color: rgb(174, 41, 41);
            background-color: #f1f3f5;
        }
    }
    .carrito {
        display: flex;
        color: $primary-color;
        font-size: medium;
        border-style: none;
        padding: 1rem;        
        border-radius: 15px;
        align-items: center;
        justify-content: center;
        &:hover {
            color: $secondary-color;
            background-color: #f1f3f5;
        }
    }
    .dropdown, .ingreso-container {
      display: inline;
      a {
        margin: 0 1vw;
        color: $primary-color;
      }
    }

  }

.boton-buscar {
    color: $primary-color;
    &:hover {
        color: $secondary-color;
    }
}

  img {
    width: 16vw;
    /* width: 25vw; */
    vertical-align: middle;
  }

  //////////////////////////////dropdowns/////////////////////////////////

  //logged - mobile//
  .logged-dropdown-mobile {
    float: right;
  }
  .logged-dropdown-mobile .cuenta {
    font-family: inherit; /* vertical align */
    margin: 0; /* vertical align */
  }
  .logged-mobile-dropdown-content {
    display: none;
    position: absolute;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    text-align: center;
    background-color: #FFFFFF;
  }
  .logged-mobile-dropdown-content a {
    font-size: 0.75em;
    float: none;
    padding: 10px 0;
    display: block;
    &:hover {
        color: $secondary-color;
    }
  }
  .logged-dropdown-mobile:hover .logged-mobile-dropdown-content {
    display: block;
  }

  //logged-desktop///////////////////////////////////////////////////////////////
  .logged-dropdown-desktop {
    float: right;
  }
  .logged-dropdown-desktop .cuenta {
    font-family: inherit; /* vertical align */
    margin: 0; /* vertical align */
  }
  .logged-desktop-dropdown-content {
    display: none;
    position: absolute;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    text-align: center;  
    background-color: #FFFFFF;
  }
  .logged-desktop-dropdown-content a {
    font-size: 0.75em;
    float: none;
    padding: 10px 0;
    display: block;
    &:hover {
        color: $secondary-color;
    }
  }
  .logged-dropdown-desktop:hover .logged-desktop-dropdown-content {
    display: block;
  }

//unlogged-mobile///////////////////////////////////////////////////////////////
  .unlogged-dropdown {
    float: right;
  }
  .unlogged-dropdown .cuenta {
    font-family: inherit; /* vertical align */
    margin: 0; /* vertical align */
  }
  .unlogged-dropdown-content {
    display: none;
    position: absolute;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    text-align: center;
    background-color: #FFFFFF;
  }
  .unlogged-dropdown-content a {
    font-size: 0.75em;
    float: none;
    padding: 10px 0;
    display: block;
    &:hover {
        color: $secondary-color;
    }
  }
  .unlogged-dropdown:hover .unlogged-dropdown-content {
    display: block;
  }

  //////////////////////////media queries//////////////////////////////////

  //mobile/////////////////////////////////////////////////////////////////
  @media only screen and (max-width: 500px) {
    img {
        width: 25vw;
        vertical-align: middle;
      }
  }
  @media only screen and (max-width: 880px) {
    .navbar-left {
      .productos,
      .sobre-veride {
        display: none;
      }
    }
    .navbar-right {
      input,
      .boton-buscar,
      .inicio-sesion {
        display: none;
      }
      .ingreso {
        padding: 0em 0em;
        border: none;
        border-radius: 0.5em;
        color: $primary-color;
      }
    }
    
    .logged-dropdown-desktop .cuenta {
      display: none;
    }
  }

  //escritorio/////////////////////////////////////////////////////////////
  @media only screen and (min-width: 880px) {
    .navbar-right {
      .productos,
      .sobre-veride {
        display: none;
      }
      .logged-dropdown-mobile {
        display: none;
      }
    }

    .inicio-sesion {
      border: solid 1px $secondary-color;
      padding: 0.25em 1.75em;
      border-radius: 0.5em;
      i {
        display: none;
      }
      span {
        color: $secondary-color;
      }
    }

    .unlogged-dropdown {
      display: none;
    }
  }
}
