// refactorizar
.todosProductos::-webkit-scrollbar,
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

.todosProductos::-webkit-scrollbar-thumb,
::-webkit-scrollbar-thumb{
  background: gray;
  border-radius: 10px;
}

.todosProductos::-webkit-scrollbar,
::-webkit-scrollbar{
  background: rgba(128, 128, 128, 0);
}

.section, .container-productos, .producto, .container-categorias, .categoria, .container-destacados, .destacado, .promo {
    display: inline-block;
}

article {
  margin: 2vh 1vw;
}

.article-promociones {
  display: flex;
  justify-content: space-around;
  text-align: center;

  .imgPromo1, .imgPromo2 {
    width: 95%;
    height: auto;
    border-radius: 20px;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    // border: solid 1px black;
    &:hover {
      transform: scale(1.01);
      transition: 0.3s;
    }
  }
}

.flex-Home {
  display: flex;
  flex-direction: column;
}

.container-destacados {
  // display: flex;
  justify-content: space-around;

  display: grid;
  // grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

.container-categorias {
  display: flex;
  justify-content: space-around;
}

// .container-productos {
//   // display: flex;

//   justify-content: space-around;
//   flex-wrap: wrap;

//   display: grid;
//   // grid-template-columns: repeat(3, 1fr);
//   gap: 10px;
//   grid-auto-rows: minmax(100px, auto);
// }

.contenedorVPH {
  margin: 1vh 1vw;
}

//mobile
@media only screen and (max-width: 768px) {
  .enlacePromo2 {
    display: none;
  }

  .container-categorias {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
  }

  .todosProductos, .masVendidos {
    display: grid;
		grid-template-columns: repeat(2, 1fr);
  }
}

//escritorio
@media only screen and (min-width: 768px) {
  .container-productos, .container-destacados {
    grid-template-columns: repeat(3, 1fr);
  }
}

.todosProductos{
    overflow-y: scroll;
		height: 500px;
		width: auto;
		text-align: center;
}

.masVendidos{
  text-align: center;
}
