// refactorizar

section, .container-productos, .producto, .container-categorias, .categoria, .container-destacados, .destacado, .promo {
    /* margin: 2vh 1vw; */
    display: inline-block;
}

/* h2 {
  padding-left: 2vw;
} */

.article-promociones {
  display: flex;
  justify-content: space-around;
  text-align: center;

  .enlacePromo1, .enlacePromo2 {
    width: 50%;
  }
  .imgPromo1, .imgPromo2 {
    width: 90%;
    height: auto;
  }
}

.container-destacados {
  // display: flex;
  justify-content: space-around;

  display: grid;
  // grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

.container-categorias {
  display: flex;
  justify-content: space-around;
  text-align: center;
  
  // border: solid 1px black;
  // div {
  //   border: solid 1px black;
  // }


  img {
    width: 100px;
  }

  li {
    list-style: none;
  }
}

.container-productos {
  // display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

  display: grid;
  // grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

.contenedorVPH {
  margin: 1vh 1vw;
}

//mobile
@media only screen and (max-width: 768px) {
  // .article-promociones {
  //   a {
  //     border: solid 1px black;
  //     width: 100%;
      
  //     img {
  //       border: solid 1px black;
  //       width: 100%;
  //       height: 100%;
  //       object-fit: cover;
  //     }
  //   }
  // }
  .imgPromo1 {
    width: 100%;
  }

  .enlacePromo2 {
    display: none;
  }

  .container-categorias {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
  }

  .container-productos, .container-destacados {
    grid-template-columns : 1fr, 1fr;
  }
}

//escritorio
@media only screen and (min-width: 768px) {

  .container-productos, .container-destacados {
    grid-template-columns: repeat(3, 1fr);
  }
}