.grid-Contenedor {
  display: grid;
  grid-template-columns: 0.9fr 1.1fr;
  grid-template-rows: 100vh;
  grid-auto-columns: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  justify-content: stretch;
  align-content: stretch;
  justify-items: stretch;
  align-items: stretch;
  grid-template-areas: "contenedorIzquierdo contenedirDerecho";
  overflow: hidden;
}

.contenedorIzquierdo {
  justify-self: stretch;
  align-self: stretch;
  grid-area: contenedorIzquierdo;
  background-color: #FFFFFF;
}

.contenedirDerecho {
  justify-self: stretch;
  align-self: stretch;
  grid-area: contenedirDerecho;
  background-color: #CE972B;
}

@media screen and (max-width: 1500px) {
  .grid-Contenedor {
    display: grid;
    grid-template-columns: 1fr 0fr;
  }
  .slideshow {
    display: none;
  }
}

